{% extends "misJuegos.html" %}
{% load static %}
<!-- <link rel="stylesheet" href="{%static 'css/miestilo.css'%}">
<link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}"> -->
{% block contenido %}
    <p>>Crear Nuevo Juego...</p>
    <form class="formData" action="/crear_juegos/" method="POST">{% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="descripcion" placeholder="Descripcion">
        <input type="number" name="nivel" placeholder="Nivel [1,2 o 3]">        
        <button type="submit">Crear</button>
    </form>
{% endblock %}